<ion-header>
	<ion-navbar>
		<ion-item>
			<img src="assets/imgs/profile.png">
			<ion-title>
				Nome
			</ion-title>
		</ion-item>
	</ion-navbar>
</ion-header>

<ion-content>
	<ion-fab *ngIf="btStart">
		<button (click)="hideBtStart()" ion-button color="light">Agendar um trajeto!</button>
	</ion-fab>
	<ion-fab *ngIf="etapa1">
		<ion-item>
			<ion-label fixed>Origem</ion-label>
			<ion-input type="text" value=""></ion-input>
		</ion-item>

		<ion-item>
			<ion-label fixed>Destino</ion-label>
			<ion-input type="text" value=""></ion-input>
		</ion-item>
		<button (click)="hideEtapa1()" ion-button color="light">Confirmar</button>
	</ion-fab>
	<ion-img src=""></ion-img>
	<div #map id="map"></div> 
</ion-content>